#cart-btn{
    margin-top: 2rem;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    color: #fff;
    background-color: #95190C;

    i{
        font-size: 1.25rem;
        margin-right: .75rem;
    }

    span{
        font-weight: 500;
    }
}