.offcanvas#cart-offcanvas{
    height: 95vh;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    *{
        transition: all 0.375s ease-in-out !important;
    }

    .offcanvas-header{
        margin-top: 0;
        align-items: center;
        justify-content: space-between;
        border-bottom: none;
        width: 100%;
        padding: 1rem 1.25rem;

        h5{
            font-weight: bold;
            margin: .5rem 0;
        }
        .rounded-btn{
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            margin-left: 1rem;
            background-color: #efefef;
        }
    }

    .offcanvas-body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: none;
        width: 100%;
        padding: 0 1rem;
        margin: 0;
        padding-bottom: 2rem;
        margin-top: .5rem;
    }

    .buttons{
        width: 100%;
        padding: 0 1.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: flex-end;
        margin-bottom: 1rem;

        .total-div {
            display: flex;
            flex-direction: column;

            p{
                margin-bottom: 0;
                color: #888;
            }

            span{
                font-size: 1.125rem;
                font-weight: bold;
            }
        }

        #add-button{
            background-color: #95190C;
            color: #fff;
            font-size: 1rem;
            margin-left: 1rem;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}