.menu-item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    margin-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    
    &:not(:last-child){
        border-bottom: .5px solid #ccc;
    }

    &:first-child{
        margin-top: 1.5rem;
    }

    h3{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: .25rem;
    }

    p{
        &:last-of-type{
            font-weight: bold;
        }

        &:not(:last-of-type){
            font-size: .75rem;
            color: #666666;
            font-weight: 500;
            margin-bottom: .75rem;
        }
    }

    img{
        object-fit: contain;
        width: 6rem;
        border-radius: .25rem;
        margin-left: 1rem;
        box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
    }
}