.menu-section{
    width: 90%;
    margin: 0 auto 1.5rem auto;

    *{
        transition: all 0.375s ease-in-out !important;
    }

    button{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        border-radius: .5rem;
        padding: .75rem .75rem;
        font-size: 1.125rem;
        box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);

        &[aria-expanded*=true] {
            background-color: #95190C;
            color: #fff;

            i { 
                color: #fff; 
                transform: rotate(-180deg); 
            }
        }
    }

    > div > div{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 98%;
        margin: auto;
        margin-top: 1rem;
        padding-bottom: 1rem;
        
        &:not(:last-child){
            border-bottom: .5px solid #ccc;
        }

        &:first-child{
            margin-top: 1.5rem;
        }

        h3{
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: .25rem;
        }

        p{
            &:last-of-type{
                font-weight: bold;
            }

            &:not(:last-of-type){
                font-size: .75rem;
                color: #666666;
                font-weight: 500;
                margin-bottom: .75rem;
            }
        }

        img{
            object-fit: contain;
            width: 6rem;
            border-radius: .25rem;
            margin-left: .5rem;
            box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
        }
    }

    .offcanvas{
        height: 95vh;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        .offcanvas-header{
            margin-top: 0;
            align-items: center;
            justify-content: space-between;
            border-bottom: none;
            width: 100%;
            padding: 1rem 1.25rem;

            h5{
                font-weight: bold;
                margin: .5rem 0;
            }
            .rounded-btn{
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                margin-left: 1rem;
                background-color: #efefef;
            }
        }
        .offcanvas-body{
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            border-bottom: none;
            width: 100%;
            padding: 0;
            margin: 0;
            padding-bottom: 2rem;

            img{
                align-self: center;
                width: 90%;
                max-width: 20rem;
                margin-bottom: 2rem;
            }
            p{
                font-size: .875rem;
                margin: 0 1.25rem;

                &:first-of-type{
                    margin-bottom: .5rem;
                }

                &:last-of-type{
                    font-size: 1.125rem;
                }
            }
        }
        .buttons{
            width: 100%;
            padding: 0 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-self: flex-end;
            margin-bottom: 1rem;

            .btn-group{
                height: 100%;
                font-size: 1rem;
                align-items: center;
                border: 1px solid #ccc;
                border-radius: .5rem;

                span{
                    padding: 0 1rem;
                }

                button{
                    box-shadow: none;
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #95190C;

                    &:disabled{
                        color: #666666;
                    }
                }
            }

            #add-button{
                background-color: #95190C;
                color: #fff;
                font-size: 1rem;
                margin-left: 1rem;
                font-weight: 500;
            }
        }
    }
}