@media (max-width: 335px){
    .offcanvas#offcanvas .buttons #add-button {
        justify-content: center;
        align-items: center;
        
        span:last-of-type{
            display: none;
        }
    }
}